/* Container for the whole profile page */
.container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

/* Profile Header */
.profile-header {
    background-image: url('../path-to-your-header-image.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 220px;
    position: relative;
    border-radius: 8px 8px 0 0;
}

.profile-header img {
    position: absolute;
    bottom: -40px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-header h1 {
    position: absolute;
    bottom: -30px;
    left: 240px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Personal Details */
.personal-details {
    margin-top: 80px;
}

.personal-details h2{
    color: #fff;
}

.editdetailbtn{
    background-color: #7c7c7c;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.personal-details .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.personal-details label {
    font-weight: bold;
    margin-right: 10px;
    width: 150px;
    color: #fff;
}

.personal-details input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    background-color: #01896e4d;
    font-size: 16px;
    border: none;
    color: #fff;
}

/* Edit Buttons */
.edit-button {
    background-color: transparent;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #059f80;
}

.back-button {
    margin-top: 10px;
    margin-right: 35px;
    padding: 10px 15px;
    background-color: #008369;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
    float: right; /* Add this line */
}


.back-button:hover {
    background-color: #059f80;
}

/* Profile picture styling */
.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: contain;
    padding: 5px;
}

.profile-picture button {
    margin-top: 10px;
    display: block;
    background-color: #008369;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-picture button:hover {
    background-color: #059f80;
}

/* Success message styling */
.success-message {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

/* Error message styling */
.error-message {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}
